.home-bg {
 background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% );
 color: var(--branco);
}

.header-icon {
    text-align: center;
}

.faq {
    background-color: var(--bege);
}
